<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Luminary_Apparel.Properties.Settings.Luminary_ApparelConnectionString"
            connectionString="Data Source=LAPTOP-4BLCHTST\SQLEXPRESS;Initial Catalog=Luminary_Apparel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>